.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  padding-left: 10px;
  margin: 50px auto;
  background-color: #FF69B4;
  border-radius: 10px;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22);
}

.App section {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  margin: 15px;
}

.Container .title {
  width: 70%;
  padding: 20px;
  margin: auto;
  text-align: center;
}

.Container .title h1 {
  font-size: 50px;
  color: #FF69B4  ;
}